.header-block {
    height: 1228px;
    background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, #1900ff, #1900ff), linear-gradient(130deg, #3023ae, #c86dd7);
    margin-bottom: 250px;
    margin-top: -80px;
}


.header-jumbotron {
    margin-top: 180px;
}


.content-block-course {
    height: 756px;
    background-color: #ffffff;
    margin-bottom: 250px;
}

.content-block-student {
    height: 660px;
    background-color: #ffffff;
    margin-bottom: 250px;
    margin-top: 250px;
  
}

.block-how-it-works {
    height: 2000px;
    background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, rgba(25, 0, 255, 0.4), rgba(25, 0, 255, 0.4)), linear-gradient(149deg, #3023ae, #c86dd7);
}

.content-block-cta {
    height: 660px;
    background-color: #ffffff;
    margin-top: 240px;
  
}

.btn {
    border-radius: 13px;

  }

  .btn-primary {
    background-color: var(--clear-blue);
  }

.row {
   
}

.footer {
    height: 330px;
}