.header-block {
    height: auto;
    background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, #1900ff, #1900ff), linear-gradient(130deg, #3023ae, #c86dd7);
    margin-bottom: 80px;
    margin-top: -80px;
}


.header-jumbotron {
    margin-top: 180px;
}


.content-block-course {
    height: auto;
    background-color: #ffffff;
}

.content-block-student {
    height: 660px;
    background-color: #ffffff;
  
}

.block-how-it-works {
    background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, rgba(25, 0, 255, 0.4), rgba(25, 0, 255, 0.4)), linear-gradient(149deg, #3023ae, #c86dd7);
}

.content-block-cta {
    height: 660px;
    background-color: #ffffff;
    margin-top: 240px;
  
}

.btn {
    border-radius: 13px;

  }

  .btn-primary {
    background-color: var(--clear-blue);
  }

.row {
   
}

.footer {
    height: 330px;
}

.industry-cred {
        text-align: center;
        font-family: Inconsolata;
        font-size: 42px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 6.3px;
        text-align: center;
        color: var(--black);
}

.Gain-a-project-based {
    text-align: center;
    font-family: Inconsolata;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.05;
    letter-spacing: 5.6px;
    text-align: center;
    color: #2a2a2a;
  }

  .sub-heading-cta {
    font-family: Inconsolata;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 4.7px;
    text-align: center;
    color: var(--black);

  }

  .brand-heading-cta {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 18px;
    text-align: center;
    color: #2196ae;
  }