.student-subtext {  
    font-family: Inconsolata;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: var(--tealish);
}
.student-headline {
    font-family: Inconsolata;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: var(--greyish-brown);
}

.student-text {
    font-family: Inconsolata;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 0.4px;
    color: var(--greyish-brown);
}

.heading-how-works {
    font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 6.3px;
  text-align: center;
  color: #ffffff;

}

.block-headings{
    padding-top: 0px;

}

.subheading-how-it-works {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: 3.1px;
    text-align: center;
    color: #ffffff;
}

.learning-block {
    margin-top: 96px;
}

.block-title {
    font-family: Merriweather;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 2.6px;
    color: #ffffff;

}

.block-description {
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.31;
    letter-spacing: 1.7px;
    color: #ffffff;
}

.block-hr {
    width: 85px;
    height: 3px;
    background-color: teal;
    text-align: left;
}