.form-control {
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #979797;
    border-radius: 0.25rem;
    transition: border-bottom-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: none;
    outline: none;
    box-shadow: none;

}