.nav-text {
    font-family: Inconsolata;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: var(--white);
  }

  .nav-link {
    font-family: Inconsolata;
    font-size: 14px;
   font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: var(--white);
  }

  .nav-item {
    font-family: Inconsolata;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-right: 30px;
    
  }

  .footer {

    
  }
