<nav class="navbar transparent navbar-inverse navbar-expand-lg bg-transparent">
  <%= image_tag("logo.png", class: "img-fluid navbar-brand ml-5") %>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-5" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">

      <li class="nav-item align-self-center mx-3">
        <a class="nav-link" href="#">How it works</a>
      </li>

      <li class="nav-item align-self-center mx-3">
        <a class="nav-link" href="#">Partners</a>
      </li>

      <li class="nav-item align-self-center mx-3">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      
      <li class="nav-item align-self-center mx-3">
        <a class="nav-link btn btn-primary btn-md" href="#">Sign Up</a>
      </li>

    </ul>
  </div>
</nav>